<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <!-- <property name="hibernate.current_session_context_class">thread</property> -->
        
         <mapping class="com.tech.dao.model.Product"></mapping>
         <mapping class="com.tech.dao.model.Classification"></mapping>
         <mapping class="com.tech.dao.model.Brand"></mapping>
         <mapping class="com.tech.dao.model.ProductCategory"></mapping>
         
         <mapping class="com.tech.dao.model.Sku"></mapping>
         <mapping class="com.tech.dao.model.Classification"></mapping>
         
    </session-factory>
</hibernate-configuration>